*:focus {
    outline: none;
}

body {
    background: #1abc9c;
    background: -moz-linear-gradient(top, #1abc9c 0%, #34495e 100%);
    background: -webkit-linear-gradient(top, #1abc9c 0%,#34495e 100%);
    background: linear-gradient(to bottom, #1abc9c 0%,#34495e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#34495e',GradientType=0 );
    min-height: 100vh;
}

.glass {
    background-color: rgba(0,0,0,0.1);
}


.jumbotron-text {
    font-size: 100px;
}

.input-heading {
    text-align: center;
    font-size: 20px;
    color: white;
}

.clock {
    color: white;
}

.todo-title,.todo-button {
    display: inline-block;
}

.todo-button{
    margin-left: 15px;
    color: rgba(0,0,0,0.2);
}

.todo {
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 200;
    padding: 5px 20px;
    text-align: center;
    border-bottom: 3px solid white;
    width: 100%;
    color: white;
}

.todo-list {
    margin: 20px 0;
    list-style: none;
    padding: 0;
    font-size: 20px;
    color: white;
    font-weight: 100;
    border: 3px solid rgba(0,0,0,0.2);
}

.todo-item {
    padding: 15px;
    border: 3px solid rgba(0,0,0,0.2);
}

.done {
    text-decoration: line-through;
}

.hover-light:hover {
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .jumbotron-text {
        font-size: 110px;
    }

    .md-margin-top-10 {
        margin-top: 10vh;
    }

    .input-heading {
        font-size: 30px;
    }
}


@media screen and (min-width: 992px) {
    .jumbotron-text {
        font-size: 120px;
    }
}

@media only screen and (min-width : 1200px) {
    .jumbotron-text {
        font-size: 150px;
    }
}
